// place your custom styles here
@import "./douyin-button.scss";
@import "./language-guide.scss";

.vp-feature-item {
    .vp-feature-title {
        text-align: center;
        .vp-icon {
            width: 100% !important;
            height: auto !important;
        }
    }
}